@import url("https://fonts.googleapis.com/css?family=Poiret+One|Arapey|Caveat");

body {
      border-style : solid;
      border-color: black;
      background-image:url("http://www.f-covers.com/cover/funny-dog-4-facebook-cover-timeline-banner-for-fb.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-blend-mode:soft-light;
      font-family: 'Poiret One', sans-serif;
      background-color: navy;
      font-weight: bolder;
      font-size:10px;
      background-position: center;
      margin : 40px 40px 0px 40px;

  }


div {
      display: flex;
      justify-content:center;
      padding-top : 40px ;
      z-index:-1;
      }

#inputBox{
        font-family: 'Arapey';
        width : 240px;
        height : 27px;
        border-color: white;
        font-size: 27px;
        font-style: normal;
        font-weight: bold;
        color:navy;
        background-image:url("https://image.shutterstock.com/image-vector/vector-seamless-pattern-paw-footprints-260nw-622830797.jpg");
        background-blend-mode:multiply;
        opacity : 140%;
  }
  button{
    font-family: 'Arapey';
    border-color: white;
    font-size: 19px;
    color : maroon;
    text-shadow: 2px 3px 4px black  ;
    display : flex;
    justify-content: space-around;
    font-style: normal;
    font-weight:bolder;
    background-image:url("https://image.shutterstock.com/image-vector/vector-seamless-pattern-paw-footprints-260nw-622830797.jpg");
    background-blend-mode:overlay;
  }
  h{
    font-size : 35px;
    color : White;
    font-family: Caveat;
    font-style: oblique;
  }
  #imgOfDog{
    width : 280px;
    height : 240px;
  }

@media only screen and (min-width: 600px) {
  body{
        border-style: none;
  }
  section{
        /* display: grid;
        grid-template-columns: 1fr 1fr 1fr; */
        display : flex;
        justify-content: center;
  }
  h{
    font-size : 60px;
  }
  div {
        padding-top : 100px ;
        }
  #imgOfDog{
           width : 100%;
           height:100%;
      }
}
